.BlogPost div[data-rehype-pretty-code-fragment] {
	color: inherit;
}

.BlogPost pre > div > * > code,
.BlogPost pre > * > code {
	display: grid !important;
	flex: 1;
}


.BlogPost code {
	counter-reset: line;
}

.BlogPost code > [data-line]::before {
	counter-increment: line;
	content: counter(line);
	display: inline-block;
	width: 1rem;
	margin-right: 2rem;
	text-align: right;
	color: gray;
}

.BlogPost code[data-line-numbers-max-digits='2']>[data-line]::before {
	width: 2rem;
}

.BlogPost code[data-line-numbers-max-digits='3']>[data-line]::before {
	width: 3rem;
}