---
import type { HTMLAttributes } from "astro/types"
import { cn } from "@/utils/styles"
import { styles } from "./styles"

type Props = HTMLAttributes<"h2"> & {
  className?: string
}

const { class: className, ...props } = Astro.props

const elementClassnames = cn([
  styles.headingStyles,
  "text-2xl xs:text-4xl",
  "break-all xs:break-normal",
  className,
  //
])
---

<h2 class={elementClassnames} {...props}>
  <slot />
</h2>
