---
import type { HTMLAttributes } from "astro/types"
import { cn } from "@/utils/styles"
import { styles } from "./styles"

type Props = HTMLAttributes<"p"> & {
  className?: string
}

const { class: className, ...props } = Astro.props

const elementClassnames = cn([
  styles.paragraphStyles,
  "font-normal",
  className,
  //
])
---

<p class={elementClassnames} {...props}>
  <slot />
</p>
